APP_NAME=Laravel
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=sqlite
DB_DATABASE=C:\Users\ranoo\Documents\GitHub\articles-website\articles-backend\database\database.sqlite

# تأكد من تعليق أي إعدادات أخرى لقاعدة البيانات
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=laravel
# DB_USERNAME=root
# DB_PASSWORD=